<div class="row">
    <div class="col-sm-6">
        {{ apos.area(data.widget, 'left', {
            widgets: {
                'apostrophe-rich-text': {
                    toolbar: ['Styles', 'Bold', 'Italic', 'align', 'Blockquote', 'Link', 'Anchor', 'Unlink', 'BulletedList', 'NumberedList', 'Sourcedialog'],
                  styles: [
                    {name: 'Title 1', element: 'h1'},
                    {name: 'Title 2', element: 'h2'},
                    {name: 'Title 3', element: 'h3'},
                    {name: 'Title 4', element: 'h4'},
                    {name: 'Title 5', element: 'h5'},
                    {name: 'Title 6', element: 'h6'},
                    {name: 'Content', element: 'p'}
                  ],
                  plugins: [
                    {
                        name: 'sourcedialog',
                        path: '/modules/datadrivendesign-apostrophe-areas/js/vendor/ckeditor/plugins/sourcedialog/plugin.js'
                    }
                  ]
                },
                'apostrophe-images': {},
                'apostrophe-video': {},
                'datadrivendesign-spacer-block': {}
            }
        })}}
    </div>
    <div class="col-sm-6">
        {{ apos.area(data.widget, 'right', {
            widgets: {
                'apostrophe-rich-text': {
                    toolbar: ['Styles', 'Bold', 'Italic', 'align', 'Blockquote', 'Link', 'Anchor', 'Unlink', 'BulletedList', 'NumberedList', 'Sourcedialog'],
                  styles: [
                    {name: 'Title 1', element: 'h1'},
                    {name: 'Title 2', element: 'h2'},
                    {name: 'Title 3', element: 'h3'},
                    {name: 'Title 4', element: 'h4'},
                    {name: 'Title 5', element: 'h5'},
                    {name: 'Title 6', element: 'h6'},
                    {name: 'Content', element: 'p'}
                  ],
                  plugins: [
                    {
                        name: 'sourcedialog',
                        path: '/modules/datadrivendesign-apostrophe-areas/js/vendor/ckeditor/plugins/sourcedialog/plugin.js'
                    }
                  ]
                },
                'apostrophe-images': {},
                'apostrophe-video': {},
                'datadrivendesign-spacer-block': {}
            }
        })}}
    </div>
</div>